$c-white: #fff;
$c-black: #000;
$c-grey: #cbc3ae;

$c-light: #e8e1cb;
$c-dark: #1f1f2b;
$c-beige: #f0eeea;
$c-green-olive: #494e31;
$c-green-light: #759549;
$c-green-neon: #b4bb5b;
$c-red-light: #8b1028;
$c-red-dark: #330505;
$c-blue-dark: #3d485a;
$c-blue-light: #548da9;
$c-brown: #522f29;


